@media (min-width:1024px) {}
@media (max-width: 1023px) {}
@media (min-width: 768px) {

}
@media (max-width:767px) {
 .listing.grid .item.even {
  float: none;
 }

 #recommended-con .card-con{
  width: 47%;
  max-width: none;
 }

 #recommended-con .card-con img{
     width: 100%;
 }

 #circles-secion{
  font-size: 0.8em;
 }
 #circles-secion h2{
  font-size: 3em;
  padding-bottom: 0.1em;
 }

 #circles-secion .item{
  width: 32%!important;
  float: none;
  display: inline-block;
  vertical-align: top;
 }
 #circles-secion .item .image{
  width: 70%;
  height: 0;
  padding: 35% 0;
  min-width: none;
 }
 #circles-secion .item .image img{
  width: 50%;
  position: absolute;
  top: 8%;
  left: 25%;
  max-width: none;
 }
 #circles-secion .item .info .heading{
  font-size: 1.225em;
 }

}
@media (max-width: 767px) and (min-width: 320px){
 #boxes-section .listing.grid .item {
  display: inline-block;
  width: 100%!important;
  clear: both;
  float: none;
  min-height: auto;

 }
 #boxes-section {
     padding-bottom: 1em;
     padding-top: 2em;
 }
 #boxes-section .listing.grid{
     padding-top: 0;
 }
 #boxes-section .table-strct-con{
  display: inline-block;
 }
 #boxes-section .table-strct-con.half {
  max-width: none;
  width: 100%!important;
 }
 #recommended-con{
  text-align: center;
 }
}
@media (max-width:400px) {
 #boxes-section .listing.grid .item {
  margin: 0.5em;
  min-height: auto;
  max-height: none;
  background: white;
 }

 .box-con .img-con {
  padding: 1em;
  padding-top: 1em;
  width: 15%;
 }

 .box-con ul {
  width: 60%;
 }
}